<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>index</title>
    <link rel="stylesheet" href="/deviceManager.css" />
  </head>
  <body>
    <header><div th:insert="~{navbar}"></div></header>

    <main>
      <form action="/createDevice" method="get">
        <button>add more device</button>
      </form>

      <table>
        <tr>
          <th id="device-header">device</th>
          <th id="firewall-header">Firewall status</th>
        </tr>
        <div th:each="device: ${devices}">
          <tr>
            <td>
              <a
                th:href="@{/device(ip=${device.IPaddress})}"
                th:text="${device.IPaddress}"
                >test</a
              >
            </td>
            <td>status</td>
          </tr>
        </div>
      </table>
    </main>
  </body>
</html>
