<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>device</title>
</head>
<body>
    <div th:insert="~{navbar}"></div>
    <p th:text=${device.IPaddress}>test</p>
    Firewall Status: <label th:text="${device.firewall.isActive} ? 'ON' : 'OFF'"></label>

    <form action="/device/togglefirewall/" method="post">
        <input type="hidden" name="ip" th:value="${device.IPaddress}" />
        <button>Toggle Firewall</button>
    </form>
    
    
    
    
    
    
</body>
</html>