<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>device</title>
</head>
<body>
    <div th:insert="~{navbar}"></div>
    <p th:text=${device.IPaddress}>test</p>
    Firewall Status: <label th:text="${device.firewall.isActive} ? 'ON' : 'OFF'"></label>

    <form action="/device/togglefirewall/" method="post">
        <input type="hidden" name="ip" th:value="${device.IPaddress}" />
        <button>Toggle Firewall</button>
    </form>

    <br>
    <form action="/device/createrule" method="post">
        <input type="hidden" name="sourceIP" th:value="${device.IPaddress}">
        <input type="text" name="destIP" placeholder="input destination IP">
        <input type="text" name="port" placeholder="input port">
        <input type="radio" name="isAllow" value=True checked>Allow</input>
        <input type="radio" name="isAllow" value=False>Not allow</input>
        <button>create firewall rule</button>
    </form>

    <br>
    <form action="/device/sendpacket" method="post">
        <input type="hidden" name="sourceIP" th:value="${device.IPaddress}">
        <input type="text" name="destIP" placeholder="input destination IP">
        <input type="text" name="port" placeholder="input port">
        <button>send packet</button>
    </form>

    <div th:if="${sent}">
        <p>Source Firewall: <span th:text="${sendResultSource ? 'Success' : 'Failed'}"></span></p>
        <p>Destination Firewall: <span th:text="${sendResultDest ? 'Success' : 'Failed'}"></span></p>
    </div>

    <!-- for testing createRule and stuff -->
    <div th:if="${created}">
        <!-- <p th:text="${allow ? 'allow' : 'not allow'}"></p> -->
        <p th:text="${allow}"></p>
        ahhh
    </div>
    
    
    
    
    
    
    
</body>
</html>